<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.docsachapp">

    <!-- ✅ BẮT BUỘC: Cho phép app kết nối Internet để gọi API -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DocSachApp"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterMethodActivity" />
        <activity android:name=".RegisterInfoActivity" />
        <activity android:name=".RegisterPasswordActivity" />
        <activity android:name=".ForgotPasswordEmailActivity" />
        <activity android:name=".ForgotPasswordOtpActivity" />
        <activity android:name=".ForgotPasswordResetActivity" />
        <activity android:name=".ForgotPasswordSuccessActivity" />
        <activity android:name=".BookDetailsActivity" />
        <activity android:name=".ReadingActivity" />
        <activity android:name=".CommentsActivity" />
        <activity android:name=".CollectionDetailsActivity" />
        <activity android:name=".AddStoriesToCollectionActivity" />
        <activity android:name=".BookCreateActivity" />
        <activity android:name=".BookCreateStep2Activity" />
        <activity android:name=".AuthorWorksActivity" />
        <activity android:name=".BookEditActivity" />
        <activity android:name=".ChapterWriterActivity" />
        <activity android:name=".ProfileEditActivity" />
        <activity android:name=".AuthorProfileActivity" />
    </application>
</manifest>